Clasifcation - SVM (https://justpaste.it/axp96)

1. Problem Statment - 
2. Import Library
3. Load Data 
4. EDA 
5. Data Preprocessing 
6. Feature Selection 
7. Feature Engineering 
8. Seprate X and Y
9. Data Spliting 
10. Data Normalisation 
11. Model Building
    1. Logistic Regreesion 
    2. KNN
    3. SVM
12. Prediction on Test Data
13. Evaluation : Accuracy, precision, recall, F1, AUC, ROC 
14. Compare all model 
15. Repeat the step from 11 to 14 and fine tune the model
16. Select Best Model
17. Create Final Output
18. Save All objects : model , scaler, label encoder.. 
19. Create Inference Piepline 
20. Create API 
21. Create UI (Optional) : gradio , streamlit 
22. Create Docker Container 
23. Create Git Repository
24. Deployment : aws, gcp, azure 
25. Documentaion 
26. Create Retraining Pipeline : Incremental Learning

# Supress warnings

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Install Dependencies

In [2]:
import pandas as pd 
import numpy as np
# import keras 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec

pd.set_option('display.max_columns', None)

%matplotlib inline

# Create a helper function

In [3]:
# missing data info 

def show_missing_data(df):
    """
    This function takes only paramaeter that is Data Frame 
    and it shows the missing data with percentage and type 
    
    df < -  pandas data frame 
    """
    
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()  * 100).sort_values(ascending=False)
    data_type = df.dtypes
    missing_data = pd.concat([total,percent,data_type],axis=1,keys=['Total','Percent','data_type']).sort_values("Total", axis = 0, ascending = False)
    return missing_data.head(df.shape[1])

# loading training and test data

In [4]:
train_data = pd.read_csv('risk_analytics_train.csv', index_col=0, header=0, low_memory=False) ## data ko slow batch me load krega low memory se 
test_data = pd.read_csv('risk_analytics_test.csv', index_col=0, header=0)  ### if low memory fast rhega to jaldi krega batch me load

## Preprocessing the training dataset**

In [5]:
train_data.shape

(614, 12)

In [6]:
train_data.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
test_data.shape

(367, 11)

In [8]:
test_data.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [9]:
train_data.head(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
LP001013,Male,Yes,0.0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
LP001014,Male,Yes,3.0,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
LP001018,Male,Yes,2.0,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
LP001020,Male,Yes,1.0,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [10]:
#finding the missing values
print(train_data.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
show_missing_data(train_data)  # using helper function

                   Total   Percent data_type
Credit_History        50  8.143322   float64
Self_Employed         32  5.211726    object
LoanAmount            22  3.583062   float64
Dependents            15  2.442997   float64
Loan_Amount_Term      14  2.280130   float64
Gender                13  2.117264    object
Married                3  0.488599    object
Education              0  0.000000    object
ApplicantIncome        0  0.000000     int64
CoapplicantIncome      0  0.000000   float64
Property_Area          0  0.000000    object
Loan_Status            0  0.000000    object

In [12]:
show_missing_data(test_data) # using helper function

                   Total   Percent data_type
Credit_History        29  7.901907   float64
Self_Employed         23  6.267030    object
Gender                11  2.997275    object
Dependents            10  2.724796   float64
Loan_Amount_Term       6  1.634877   float64
LoanAmount             5  1.362398   float64
Married                0  0.000000    object
Education              0  0.000000    object
ApplicantIncome        0  0.000000     int64
CoapplicantIncome      0  0.000000     int64
Property_Area          0  0.000000    object

In [13]:
train_data.dtypes

Gender                object
Married               object
Dependents           float64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [14]:
train_data["Dependents"].mode()

0    0.0
Name: Dependents, dtype: float64

In [15]:
train_data["Dependents"].mode()[0]

0.0

# Imputing categorical missing data with mode value

In [16]:
colname1=["Gender","Married","Dependents","Self_Employed", "Loan_Amount_Term"]  ## impute data list fillna lgaa ke 

for x in colname1:
    train_data[x].fillna(train_data[x].mode()[0],inplace=True)  ## loan cat h yaha pr

In [17]:
train_data["Gender"].mode() ### mode isiliye use hua kyuki cat var h

0    Male
Name: Gender, dtype: object

In [18]:
print(train_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [91]:
train_data.dtypes

Gender                 int32
Married                int32
Dependents           float64
Education              int32
Self_Employed          int32
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int32
Loan_Status            int32
dtype: object

# Imputing numerical missing data with mean value

In [19]:
train_data["LoanAmount"].fillna(round(train_data["LoanAmount"].mean(),0),  ### loan amount ko replace kiya h yaha zero se 
                                inplace=True)
print(train_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Imputing values for credit_history column differently

In [20]:
train_data['Credit_History'].fillna(value=0, inplace=True)  ##  ### credit hjestory  ko replace kiya h yaha zero se
#train_data['Credit_History']=train_data['Credit_History'].fillna(value=0)
print(train_data.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Chek the categories of every column

In [21]:
for i in train_data.columns:
    print("######  " , i , "  ######")
    print(train_data[i].value_counts())
    print()

######   Gender   ######
Gender
Male      502
Female    112
Name: count, dtype: int64

######   Married   ######
Married
Yes    401
No     213
Name: count, dtype: int64

######   Dependents   ######
Dependents
0.0    360
1.0    102
2.0    101
3.0     51
Name: count, dtype: int64

######   Education   ######
Education
Graduate        480
Not Graduate    134
Name: count, dtype: int64

######   Self_Employed   ######
Self_Employed
No     532
Yes     82
Name: count, dtype: int64

######   ApplicantIncome   ######
ApplicantIncome
2500    9
4583    6
6000    6
2600    6
3333    5
       ..
3244    1
4408    1
3917    1
3992    1
7583    1
Name: count, Length: 505, dtype: int64

######   CoapplicantIncome   ######
CoapplicantIncome
0.0       273
2500.0      5
2083.0      5
1666.0      5
2250.0      3
         ...
2791.0      1
1010.0      1
1695.0      1
2598.0      1
240.0       1
Name: count, Length: 287, dtype: int64

######   LoanAmount   ######
LoanAmount
146.0    23
120.0    20
110.0    17
100.0    15
160.0    12
         ..
54.0      1
78.0      1
436.0     1
207.0     1
253.0     1
Name: count, Length: 203, dtype: int64

######   Loan_Amount_Term   ######
Loan_Amount_Term
360.0    526
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

######   Credit_History   ######
Credit_History
1.0    475
0.0    139
Name: count, dtype: int64

######   Property_Area   ######
Property_Area
Semiurban    233
Urban        202
Rural        179
Name: count, dtype: int64

######   Loan_Status   ######
Loan_Status
Y    422
N    192
Name: count, dtype: int64


data -> numbers 

encoding technique
1. dummy encoding   #### iska aur one hot ka value same aata h 
2. onehot encoder
2. label encoder   ## multi coloumn nhi create krte 
4. manual encoding  ### desuide krte h kisko kina dena h

# Transforming categorical data to numerical

In [23]:

from sklearn import preprocessing
colname=['Gender','Married','Education','Self_Employed','Property_Area',
         'Loan_Status']

le=preprocessing.LabelEncoder()

for x in colname:
     train_data[x]=le.fit_transform(train_data[x])


## converted Loan status as Y-->1 and N-->0

In [24]:
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,1,0,0.0,0,0,5849,0.0,146.0,360.0,1.0,2,1
LP001003,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
LP001005,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
LP001006,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
LP001008,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1

## Preprocessing the testing dataset

In [25]:
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [26]:
#finding the missing values

print(test_data.isnull().sum())
print(test_data.shape)

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64
(367, 11)

In [27]:
#imputing missing data with mode value 

colname1=["Gender","Dependents","Self_Employed", "Loan_Amount_Term"]


for x in colname1:
    test_data[x].fillna(test_data[x].mode()[0],inplace=True)

In [28]:
print(test_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [29]:
#imputing numerical missing data with mean value

test_data["LoanAmount"].fillna(round(test_data["LoanAmount"].mean(),0),inplace=True)
print(test_data.isnull().sum())

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [30]:
#imputing values for credit_history column differently
test_data['Credit_History'].fillna(value=0, inplace=True)
print(test_data.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [31]:
#transforming categorical data to numerical

from sklearn import preprocessing

colname=['Gender','Married','Education','Self_Employed','Property_Area']

le=preprocessing.LabelEncoder()

for x in colname:
     test_data[x]=le.fit_transform(test_data[x])

In [32]:
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,1,1,0.0,0,0,5720,0,110.0,360.0,1.0,2
LP001022,1,1,1.0,0,0,3076,1500,126.0,360.0,1.0,2
LP001031,1,1,2.0,0,0,5000,1800,208.0,360.0,1.0,2
LP001035,1,1,2.0,0,0,2340,2546,100.0,360.0,0.0,2
LP001051,1,0,0.0,1,0,3276,0,78.0,360.0,1.0,2

# Creating training and testing datasets and running the model

In [33]:
X_train=train_data.values[  :  ,  :-1]
Y_train=train_data.values[:,-1]

In [34]:
# convert the y train data type to int
Y_train=Y_train.astype(int)

In [35]:
Y_train

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [36]:
#test_data.head()
X_test=test_data.values[:,:]  ## isme sirf x var h

In [37]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape) 
## yaha y test nhi h khud se predict krna h

(614, 11)
(367, 11)
(614,)

# Scaling the train data and test data

In [38]:
from sklearn.preprocessing import StandardScaler  ### split ke bad scaleing kremge 

scaler = StandardScaler()

scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [39]:
X_train

array([[ 0.47234264, -1.37208932, -0.73780632, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [ 0.47234264,  0.72881553,  0.25346957, ...,  0.2732313 ,
         0.54095432, -1.31851281],
       [ 0.47234264,  0.72881553, -0.73780632, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       ...,
       [ 0.47234264,  0.72881553,  0.25346957, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [ 0.47234264,  0.72881553,  1.24474546, ...,  0.2732313 ,
         0.54095432,  1.22329839],
       [-2.11710719, -1.37208932, -0.73780632, ...,  0.2732313 ,
        -1.84858491, -0.04760721]])

# Creating the model

In [40]:
from sklearn import svm # cntrl + shift + -

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [42]:
svc_model=svm.SVC(kernel='rbf',  
                  C=1.0,
                  gamma=0.1) 

svc_model.fit(X_train, Y_train)

SVC(gamma=0.1)

In [43]:
dt_model = DecisionTreeClassifier()

In [44]:
dt_model.fit(X_train, Y_train)

DecisionTreeClassifier()

# Prediction on test data

In [45]:
Y_pred = svc_model.predict(X_test)

In [46]:
print(list(Y_pred))

[1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1]

# create the final df with predicted output for test data

In [47]:
test_data=pd.read_csv('risk_analytics_test.csv',header=0)
test_data["Y_predictions"]=Y_pred
test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Y_predictions
0,LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1
1,LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1
2,LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1
3,LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,0
4,LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1

In [48]:
test_data["Y_predictions"]=test_data["Y_predictions"].map({1:"Eligible",
                                                           0:"Not Eligible"})

In [49]:
test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Y_predictions
0,LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Eligible
1,LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Eligible
2,LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Eligible
3,LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Not Eligible
4,LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Eligible

In [50]:
test_data.to_csv('test_data.csv')

In [51]:
test_data.Y_predictions.value_counts()

Y_predictions
Eligible        285
Not Eligible     82
Name: count, dtype: int64

# Using cross validation (Optional)

In [52]:

from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier

#classifier=svm.SVC(kernel='rbf',C=1.0,gamma=0.1) #75.89%
#classifier=KNeighborsClassifier(n_neighbors=11, metric='euclidean') #75.07%
#classifier=svm.SVC(kernel='rbf',C=10.0,gamma=0.001) #77.03%
classifier=LogisticRegression() #77.20%

#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score
#running the model using scoring metric as accuracy
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,
                                                 y=Y_train, cv=kfold_cv)
print(kfold_cv_result)
#finding the mean
print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.77419355 0.82258065 0.74193548 0.72580645 0.7704918  0.68852459
 0.80327869 0.7704918  0.78688525 0.83606557]
0.772025383395029

In [53]:
svc_model.score(X_train,Y_train)

0.7947882736156352

In [54]:
# for x in range(0,len(Y_pred_col)):

#     if Y_pred_col[x]==0:
#         Y_pred_col[x]= "N"
#     else:
#         Y_pred_col[x]="Y"
    
# print(Y_pred_col)

# <a> Predicting for single person </a>

In [55]:
print("#######  Actual data  #######")
print(train_data.head(1)) ### yaha row data format me h 
print("#######  Scaler data  #######")
print(X_train[0])    ## yaha scale format me h 
print("#######  Label  #######")
print(Y_train[0])

#######  Actual data  #######
          Gender  Married  Dependents  Education  Self_Employed  \
Loan_ID
LP001002       1        0         0.0          0              0

          ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
Loan_ID
LP001002             5849                0.0       146.0             360.0

          Credit_History  Property_Area  Loan_Status
Loan_ID
LP001002             1.0              2            1
#######  Scaler data  #######
[ 0.47234264 -1.37208932 -0.73780632 -0.52836225 -0.39260074  0.07299082
 -0.55448733 -0.00473263  0.2732313   0.54095432  1.22329839]
#######  Label  #######
1

## Create a json object from row

In [56]:
from pprint import pprint  ### pprint means preety print

In [57]:
a = train_data.iloc[0]
a

Gender                  1.0
Married                 0.0
Dependents              0.0
Education               0.0
Self_Employed           0.0
ApplicantIncome      5849.0
CoapplicantIncome       0.0
LoanAmount            146.0
Loan_Amount_Term      360.0
Credit_History          1.0
Property_Area           2.0
Loan_Status             1.0
Name: LP001002, dtype: float64

In [58]:
c = a.to_dict()
pprint(c)

{'ApplicantIncome': 5849.0,
 'CoapplicantIncome': 0.0,
 'Credit_History': 1.0,
 'Dependents': 0.0,
 'Education': 0.0,
 'Gender': 1.0,
 'LoanAmount': 146.0,
 'Loan_Amount_Term': 360.0,
 'Loan_Status': 1.0,
 'Married': 0.0,
 'Property_Area': 2.0,
 'Self_Employed': 0.0}

In [59]:
sample_json = c
pprint(sample_json)

{'ApplicantIncome': 5849.0,
 'CoapplicantIncome': 0.0,
 'Credit_History': 1.0,
 'Dependents': 0.0,
 'Education': 0.0,
 'Gender': 1.0,
 'LoanAmount': 146.0,
 'Loan_Amount_Term': 360.0,
 'Loan_Status': 1.0,
 'Married': 0.0,
 'Property_Area': 2.0,
 'Self_Employed': 0.0}

In [ ]:
 ## dict json same hota h  and key value dono me hota h and  kisi se data lena h to json use krenge ye light weight hota h

In [60]:
gen = sample_json['Gender']
mar = sample_json['Married']
dep = sample_json['Dependents']
edu = sample_json['Education']
sle = sample_json['Self_Employed']
api = sample_json['ApplicantIncome']
cpi = sample_json['CoapplicantIncome']
lam = sample_json['LoanAmount']
lat = sample_json['Loan_Amount_Term']
crh = sample_json['Credit_History']
pra = sample_json['Property_Area']

In [61]:
person = [[gen,mar,dep,edu,sle,api,cpi,lam,lat,crh,pra]]   ## ek time pr ek person kaa record dekhne ke liye 2 bracket h yaha 
print(person)

[[1.0, 0.0, 0.0, 0.0, 0.0, 5849.0, 0.0, 146.0, 360.0, 1.0, 2.0]]

In [62]:
person = scaler.transform(person)
print(person)

[[ 0.47234264 -1.37208932 -0.73780632 -0.52836225 -0.39260074  0.07299082
  -0.55448733 -0.00473263  0.2732313   0.54095432  1.22329839]]

## Another method  (optional)

In [63]:
X_train[0]

array([ 0.47234264, -1.37208932, -0.73780632, -0.52836225, -0.39260074,
        0.07299082, -0.55448733, -0.00473263,  0.2732313 ,  0.54095432,
        1.22329839])

In [64]:
# test1  = [[ 0.47234264, -1.37208932, -0.73780632, -0.52836225, -0.39260074,
#         0.07299055448733, -0.00473263,  0.2732313 ,  0.54095432,
#         1.22329839]]82, -0.

# print(test1)

----

In [65]:
classes = np.array(['Not-Eligible:- 0', 'Eligible:- 1'])  ## classes use for only leble pta krne ke liye 
print(classes)

['Not-Eligible:- 0' 'Eligible:- 1']

In [66]:
class_ind =svc_model.predict(person)
print(class_ind)
type(class_ind)

[1]

numpy.ndarray

In [67]:
classes[class_ind]

array(['Eligible:- 1'], dtype='<U16')

In [68]:
print("Actual class : {}\n Predicted Class: {}".format(train_data["Loan_Status"][0],classes[class_ind]))

Actual class : 1
 Predicted Class: ['Eligible:- 1']

In [ ]:
### For study only

In [92]:
a = [1,2,3,4,"a","pra"]

In [93]:
for i in range (12,123445,3):
    a.append(i)

In [94]:
a

[1,
 2,
 3,
 4,
 'a',
 'pra',
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399,
 402,
 405,
 408,
 411,
 414,
 417,
 420,
 423,
 426,
 429,
 432,
 435,
 438,
 441,
 444,
 447,
 450,
 453,
 456,
 459,
 462,
 465,
 468,
 471,
 474,
 477,
 480,
 483,
 486,
 489,
 492,
 495,
 498,
 501,
 504,
 507,
 510,
 513,
 516,
 519,
 522,
 525,
 528,
 531,
 534,
 537,
 540,
 543,
 546,
 549,
 552,
 555,
 558,
 561,
 564,
 567,
 570,
 573,
 576,
 579,
 582,
 585,
 588,
 591,
 594,
 597,
 600,
 603,
 606,
 609,
 612,
 615,
 618,
 621,
 624,
 627,
 630,
 633,
 636,
 639,
 642,
 645,
 648,
 651,
 654,
 657,
 660,
 663,
 666,
 669,
 672,
 675,
 678,
 681,
 684,
 687,
 690,
 693,
 696,
 699,
 702,
 705,
 708,
 711,
 714,
 717,
 720,
 723,
 726,
 729,
 732,
 735,
 738,
 741,
 744,
 747,
 750,
 753,
 756,
 759,
 762,
 765,
 768,
 771,
 774,
 777,
 780,
 783,
 786,
 789,
 792,
 795,
 798,
 801,
 804,
 807,
 810,
 813,
 816,
 819,
 822,
 825,
 828,
 831,
 834,
 837,
 840,
 843,
 846,
 849,
 852,
 855,
 858,
 861,
 864,
 867,
 870,
 873,
 876,
 879,
 882,
 885,
 888,
 891,
 894,
 897,
 900,
 903,
 906,
 909,
 912,
 915,
 918,
 921,
 924,
 927,
 930,
 933,
 936,
 939,
 942,
 945,
 948,
 951,
 954,
 957,
 960,
 963,
 966,
 969,
 972,
 975,
 978,
 981,
 984,
 987,
 990,
 993,
 996,
 999,
 1002,
 1005,
 1008,
 1011,
 1014,
 1017,
 1020,
 1023,
 1026,
 1029,
 1032,
 1035,
 1038,
 1041,
 1044,
 1047,
 1050,
 1053,
 1056,
 1059,
 1062,
 1065,
 1068,
 1071,
 1074,
 1077,
 1080,
 1083,
 1086,
 1089,
 1092,
 1095,
 1098,
 1101,
 1104,
 1107,
 1110,
 1113,
 1116,
 1119,
 1122,
 1125,
 1128,
 1131,
 1134,
 1137,
 1140,
 1143,
 1146,
 1149,
 1152,
 1155,
 1158,
 1161,
 1164,
 1167,
 1170,
 1173,
 1176,
 1179,
 1182,
 1185,
 1188,
 1191,
 1194,
 1197,
 1200,
 1203,
 1206,
 1209,
 1212,
 1215,
 1218,
 1221,
 1224,
 1227,
 1230,
 1233,
 1236,
 1239,
 1242,
 1245,
 1248,
 1251,
 1254,
 1257,
 1260,
 1263,
 1266,
 1269,
 1272,
 1275,
 1278,
 1281,
 1284,
 1287,
 1290,
 1293,
 1296,
 1299,
 1302,
 1305,
 1308,
 1311,
 1314,
 1317,
 1320,
 1323,
 1326,
 1329,
 1332,
 1335,
 1338,
 1341,
 1344,
 1347,
 1350,
 1353,
 1356,
 1359,
 1362,
 1365,
 1368,
 1371,
 1374,
 1377,
 1380,
 1383,
 1386,
 1389,
 1392,
 1395,
 1398,
 1401,
 1404,
 1407,
 1410,
 1413,
 1416,
 1419,
 1422,
 1425,
 1428,
 1431,
 1434,
 1437,
 1440,
 1443,
 1446,
 1449,
 1452,
 1455,
 1458,
 1461,
 1464,
 1467,
 1470,
 1473,
 1476,
 1479,
 1482,
 1485,
 1488,
 1491,
 1494,
 1497,
 1500,
 1503,
 1506,
 1509,
 1512,
 1515,
 1518,
 1521,
 1524,
 1527,
 1530,
 1533,
 1536,
 1539,
 1542,
 1545,
 1548,
 1551,
 1554,
 1557,
 1560,
 1563,
 1566,
 1569,
 1572,
 1575,
 1578,
 1581,
 1584,
 1587,
 1590,
 1593,
 1596,
 1599,
 1602,
 1605,
 1608,
 1611,
 1614,
 1617,
 1620,
 1623,
 1626,
 1629,
 1632,
 1635,
 1638,
 1641,
 1644,
 1647,
 1650,
 1653,
 1656,
 1659,
 1662,
 1665,
 1668,
 1671,
 1674,
 1677,
 1680,
 1683,
 1686,
 1689,
 1692,
 1695,
 1698,
 1701,
 1704,
 1707,
 1710,
 1713,
 1716,
 1719,
 1722,
 1725,
 1728,
 1731,
 1734,
 1737,
 1740,
 1743,
 1746,
 1749,
 1752,
 1755,
 1758,
 1761,
 1764,
 1767,
 1770,
 1773,
 1776,
 1779,
 1782,
 1785,
 1788,
 1791,
 1794,
 1797,
 1800,
 1803,
 1806,
 1809,
 1812,
 1815,
 1818,
 1821,
 1824,
 1827,
 1830,
 1833,
 1836,
 1839,
 1842,
 1845,
 1848,
 1851,
 1854,
 1857,
 1860,
 1863,
 1866,
 1869,
 1872,
 1875,
 1878,
 1881,
 1884,
 1887,
 1890,
 1893,
 1896,
 1899,
 1902,
 1905,
 1908,
 1911,
 1914,
 1917,
 1920,
 1923,
 1926,
 1929,
 1932,
 1935,
 1938,
 1941,
 1944,
 1947,
 1950,
 1953,
 1956,
 1959,
 1962,
 1965,
 1968,
 1971,
 1974,
 1977,
 1980,
 1983,
 1986,
 1989,
 1992,
 1995,
 1998,
 2001,
 2004,
 2007,
 2010,
 2013,
 2016,
 2019,
 2022,
 2025,
 2028,
 2031,
 2034,
 2037,
 2040,
 2043,
 2046,
 2049,
 2052,
 2055,
 2058,
 2061,
 2064,
 2067,
 2070,
 2073,
 2076,
 2079,
 2082,
 2085,
 2088,
 2091,
 2094,
 2097,
 2100,
 2103,
 2106,
 2109,
 2112,
 2115,
 2118,
 2121,
 2124,
 2127,
 2130,
 2133,
 2136,
 2139,
 2142,
 2145,
 2148,
 2151,
 2154,
 2157,
 2160,
 2163,
 2166,
 2169,
 2172,
 2175,
 2178,
 2181,
 2184,
 2187,
 2190,
 2193,
 2196,
 2199,
 2202,
 2205,
 2208,
 2211,
 2214,
 2217,
 2220,
 2223,
 2226,
 2229,
 2232,
 2235,
 2238,
 2241,
 2244,
 2247,
 2250,
 2253,
 2256,
 2259,
 2262,
 2265,
 2268,
 2271,
 2274,
 2277,
 2280,
 2283,
 2286,
 2289,
 2292,
 2295,
 2298,
 2301,
 2304,
 2307,
 2310,
 2313,
 2316,
 2319,
 2322,
 2325,
 2328,
 2331,
 2334,
 2337,
 2340,
 2343,
 2346,
 2349,
 2352,
 2355,
 2358,
 2361,
 2364,
 2367,
 2370,
 2373,
 2376,
 2379,
 2382,
 2385,
 2388,
 2391,
 2394,
 2397,
 2400,
 2403,
 2406,
 2409,
 2412,
 2415,
 2418,
 2421,
 2424,
 2427,
 2430,
 2433,
 2436,
 2439,
 2442,
 2445,
 2448,
 2451,
 2454,
 2457,
 2460,
 2463,
 2466,
 2469,
 2472,
 2475,
 2478,
 2481,
 2484,
 2487,
 2490,
 2493,
 2496,
 2499,
 2502,
 2505,
 2508,
 2511,
 2514,
 2517,
 2520,
 2523,
 2526,
 2529,
 2532,
 2535,
 2538,
 2541,
 2544,
 2547,
 2550,
 2553,
 2556,
 2559,
 2562,
 2565,
 2568,
 2571,
 2574,
 2577,
 2580,
 2583,
 2586,
 2589,
 2592,
 2595,
 2598,
 2601,
 2604,
 2607,
 2610,
 2613,
 2616,
 2619,
 2622,
 2625,
 2628,
 2631,
 2634,
 2637,
 2640,
 2643,
 2646,
 2649,
 2652,
 2655,
 2658,
 2661,
 2664,
 2667,
 2670,
 2673,
 2676,
 2679,
 2682,
 2685,
 2688,
 2691,
 2694,
 2697,
 2700,
 2703,
 2706,
 2709,
 2712,
 2715,
 2718,
 2721,
 2724,
 2727,
 2730,
 2733,
 2736,
 2739,
 2742,
 2745,
 2748,
 2751,
 2754,
 2757,
 2760,
 2763,
 2766,
 2769,
 2772,
 2775,
 2778,
 2781,
 2784,
 2787,
 2790,
 2793,
 2796,
 2799,
 2802,
 2805,
 2808,
 2811,
 2814,
 2817,
 2820,
 2823,
 2826,
 2829,
 2832,
 2835,
 2838,
 2841,
 2844,
 2847,
 2850,
 2853,
 2856,
 2859,
 2862,
 2865,
 2868,
 2871,
 2874,
 2877,
 2880,
 2883,
 2886,
 2889,
 2892,
 2895,
 2898,
 2901,
 2904,
 2907,
 2910,
 2913,
 2916,
 2919,
 2922,
 2925,
 2928,
 2931,
 2934,
 2937,
 2940,
 2943,
 2946,
 2949,
 2952,
 2955,
 2958,
 2961,
 2964,
 2967,
 2970,
 2973,
 2976,
 2979,
 2982,
 2985,
 2988,
 2991,
 ...]

In [95]:
import joblib

In [96]:
# dump the sclaer in pwd

joblib.dump(a,'testttttttt.pkl')

['testttttttt.pkl']

# <a> CODE FOR DEPLOYMENT: </a>

## 1. Save the scaler object

In [69]:
import joblib    ## joblil se import hoga model and then mail

In [70]:
# dump the sclaer in pwd

joblib.dump(scaler,'svm_scaler.pkl')

['svm_scaler.pkl']

In [71]:
# load the sclaer from pwd

person_scaler = joblib.load('svm_scaler.pkl')

eg.

## 2. save the model

In [72]:
import pickle

In [73]:
# Save to file in the current working directory

pkl_filename = "svc_pickle_model.pkl"
with open(pkl_filename, 'wb') as file1:
    pickle.dump(svc_model, file1)

In [74]:
# Load from file
pkl_filename = "svc_pickle_model.pkl"
with open(pkl_filename, 'rb') as file2:
    svc_pickle_model = pickle.load(file2)

In [75]:
joblib.dump(dt_model, "dt_pickle_model.pkl")

['dt_pickle_model.pkl']

## 3. Create a function for prediction

In [76]:
def return_prediction(model,scaler,sample_json):

    """
    Objective: This function is used to predict on unseen 
    
    Pramas:
    -------
        model: trained model on training data
        scaler: object for normalizing 
        sampl_json:  input json data for prediction
        
    Return:
    ------
        prediction : eligble or else 

    """
    # For larger data features, you should probably write a for loop
    # That builds out this array for you
    
    gen = sample_json['Gender']
    mar = sample_json['Married']
    dep = sample_json['Dependents']
    edu = sample_json['Education']
    sle = sample_json['Self_Employed']
    api = sample_json['ApplicantIncome']1
    
    cpi = sample_json['CoapplicantIncome']
    lam = sample_json['LoanAmount']
    lat = sample_json['Loan_Amount_Term']
    crh = sample_json['Credit_History']
    pra = sample_json['Property_Area']
    
    person = [[gen,mar,dep,edu,sle,api,cpi,lam,lat,crh,pra]]
    
    person = scaler.transform(person)
    
    classes = np.array(['Not-Eligible:- 0', 'Eligible:- 1'])
    
    class_ind = model.predict(person)
    
    return classes[class_ind]

# Test The Function

### create a function for user input

In [77]:
def ask_user():
    
    user_data = {}
    
    a = float(input("Enter Your Gender:\n 1 -> Male | 0 -> Female  "))
    user_data["Gender"] = a
    
    a = float(input("Married Or Unmarried:\n 1 -> Yes | 0 -> No  "))
    user_data["Married"] = a
    
    a = float(input("Dependent People : "))
    user_data["Dependents"] = a
    
    a = float(input("Education :\n 1 -> Not Graduate | 0 -> Graduate "))
    user_data["Education"] = a
    
    a = float(input("Self_Employed :\n 1 -> Yes | 0 -> No  "))
    user_data["Self_Employed"] = a
    
    a = float(input("Applicant Income In digits : "))
    user_data["ApplicantIncome"] = a
    
    a = float(input("Coapplicant Income In digits : "))
    user_data["CoapplicantIncome"] = a
    
    a = float(input("Loan Amount In digits : "))
    user_data["LoanAmount"] = a
    
    a = float(input("Loan Amount Term In digits : "))
    user_data["Loan_Amount_Term"] = a
    
    a = float(input("Credit History :\n 1 -> Yes | 0 -> No   "))
    user_data["Credit_History"] = a
    
    a = float(input("Property Area :\n 0 -> Rural | 1 - > Semiurban | 2 -> Urban "))
    user_data["Property_Area"] = a
    
    return user_data

In [97]:
user_info = ask_user()
user_info

Enter Your Gender:
 1 -> Male | 0 -> Female  1
Married Or Unmarried:
 1 -> Yes | 0 -> No  0
Dependent People : 0
Education :
 1 -> Not Graduate | 0 -> Graduate 0
Self_Employed :
 1 -> Yes | 0 -> No  1
Applicant Income In digits : 50000
Coapplicant Income In digits : 600000
Loan Amount In digits : 45
Loan Amount Term In digits : 521
Credit History :
 1 -> Yes | 0 -> No   1
Property Area :
 0 -> Rural | 1 - > Semiurban | 2 -> Urban 2

{'Gender': 1.0,
 'Married': 0.0,
 'Dependents': 0.0,
 'Education': 0.0,
 'Self_Employed': 1.0,
 'ApplicantIncome': 50000.0,
 'CoapplicantIncome': 600000.0,
 'LoanAmount': 45.0,
 'Loan_Amount_Term': 521.0,
 'Credit_History': 1.0,
 'Property_Area': 2.0}

In [101]:
return_prediction(model = svc_pickle_model,
                 scaler = person_scaler,
                 sample_json = user_info)

array(['Eligible:- 1'], dtype='<U16')

In [102]:
return_prediction(model = dt_model,
                 scaler = person_scaler,
                 sample_json = user_info)

array(['Not-Eligible:- 0'], dtype='<U16')

In [82]:
data structures 

1. list 4
 dict

SyntaxError: invalid syntax (722160201.py, line 1)

In [83]:
10 q

SyntaxError: invalid syntax (12369949.py, line 1)

# convert the user_info in double qoutes

In [103]:
import json
print(json.dumps(user_info))

{"Gender": 1.0, "Married": 0.0, "Dependents": 0.0, "Education": 0.0, "Self_Employed": 1.0, "ApplicantIncome": 50000.0, "CoapplicantIncome": 600000.0, "LoanAmount": 45.0, "Loan_Amount_Term": 521.0, "Credit_History": 1.0, "Property_Area": 2.0}

# <a> API Call with Postman </a>

## THIS IS WHAT WE DO IN POSTMAN

# STEP 1: Create New Request
# STEP 2: Select POST
# STEP 3: Type correct URL (http://127.0.0.1:5000/prediction)
# STEP 4: Select Body
# STEP 5: Select JSON
# STEP 6: Type or Paste in example json request
# STEP 7: Run 01-Basic-API.py to launch server and confirm the site is running
# Step 8: Run API request in postman

# <a> API Call with Python </a>

## Step 1:

Make sure you are already running 01-Basic-API.py

## Step 2:

Instead of using PostMan, let us programmatically request with an API

In [85]:
import requests

test_example = {"Gender": 1.0, 
                  "Married": 0.0, 
                  "Dependents": 0.0, 
                  "Education": 0.0, 
                  "Self_Employed": 0.0, 
                  "ApplicantIncome": 5849.0, 
                  "CoapplicantIncome": 0.0, 
                  "LoanAmount": 146.0, 
                  "Loan_Amount_Term": 360.0, 
                  "Credit_History": 1.0, 
                  "Property_Area": 2.0}

In [89]:
r = requests.post("http://192.168.1.34:5000/prediction",
                  json=test_example)

ConnectTimeout: HTTPConnectionPool(host='192.168.1.34', port=5000): Max retries exceeded with url: /prediction (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x0000022DB4CF8350>, 'Connection to 192.168.1.34 timed out. (connect timeout=None)'))

In [87]:
if r.status_code == 200:
    print(f"Success: {r.text}")
else:
    print(f"Failure: {r.text}")

NameError: name 'r' is not defined

In [ ]:
r.url

### <a style="color:#FF0000;"> IMP Note : Set localhost = '0.0.0.0' and port = 8080 in 01-Basic-API.py To accept the request from other client over a wifi Connection </a>

# <center> <a>THE END </a> </center>